form {
    margin: 30px 0;
}

form .uploader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form .uploader .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px dashed #7b727c;
    border-radius: 6px;
    font-size: 14px;
    color: #383338;
    background: #ffffff7e;
}

form .uploader .dropzone .plus-icon {
    color: #857885;
}

.btn {
    outline: none;
    background: #d3d3d3;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.btn:active {
    background: #b9b9b9;
}

img {
    max-width: 80%;
    margin: 30px 0;
}